@import url('https://fonts.googleapis.com/css?family=Monserrat:400,800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
    height: 100vh;
    background-color: rgba(0,0,0,.22);
}
.container{
    background-color: white;
    border-radius: 10px;
    width: 768px;
    max-width: 100%;
    height: 480px;
    position: relative;
    overflow: hidden;
    box-shadow: opx 14px 28px rgba(0,0,0,.25);
    box-shadow: 0px 10px 28px rgba(0,0,0,.22);

   
}
.form-container{
    position: absolute;
    top: 0%;
    height: 100%;
    padding: center;
    z-index: 1;

}
.sign-up-container{
    left: 0;
    width: 50%;
    z-index: 1;
    


}

form{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 0px;
    height: 100%;
    text-align: center;
    
}
h1{
    font-weight: bold;
    margin: 0;
    padding-left: 25px;
    margin: 10px;
    
}
.social-container{
    margin: 20px 0;
}
.social-container a{
    border: 1px solid gray;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0  5px;
    height: 40px;
    width: 40px;
}
a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
span{
    font-size: 15px;
}
input{
    background-color: #eee;
    border: none;
    text-decoration: none;
    width: 80%;
    margin: 8px 10px;
    
    padding: 12px 15px;
    
}
button{
    border-radius: 20px;
    border: 1px solid  #ff482B;
    background-color: #FF482B;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    
}
.overlay{
    background-color: #FF416C;
    background: linear-gradient(to right,#FF4B2B,#FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    

}   
.overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 50%;
    transform: translateX(0);

    


}
.overlay-left{
    transform: translateX(-20%);
    
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}
button:active{
    transform: scale(.95);

}
button.press{
    background-color: transparent;
    border-color: #FFFFFF;

}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
}












































































